@import "../theme.scss";

w-header,
[data-is="w-header"] {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    min-height: 3.5*$rem;

    font-size: 0;
    * {
        margin: 0;
        font-size: $rem;
    }
    w-icon,
    [data-is="w-icon"] {
        font-size: 1.5*$rem;
    }

    w-button,
    [data-is="w-button"] {
        height: 3.5*$rem;
        width: 3.5*$rem;
        margin: 0;
    }

    >:not(.icon) {
        padding: 0 $rem;
    }
}