@import "../theme.scss";

w-ripple,
[data-is="w-ripple"] {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    [ref="effect"] {
        display: inline-block;

        // chrome においてeffectの大きさをgetBoundingClientRectで
        // 取得できなかったため、w-rippleの二倍に決め打ちした。
        // この値を変更する場合、スクリプトも修正する必要がある。
        width: 200%;
        height: 200%;

        position: absolute;
        border-radius: 100%;
        pointer-events: none;
        transform: scale(0);
        opacity: 0;

        background: #f1c40f;

        &.active {
            animation: w-ripple-animation 0.5s ease-out;
        }
    }
}
@keyframes w-ripple-animation {
    from {
        opacity: 0.5;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}