@import "../theme.scss";

w-ripple,
[data-is="w-ripple"] {
    overflow: hidden;
    position: absolute;
    display: inline-block; // block にすると横に広がる。

    margin: 0; // !important;
    padding: 0;// !important;

    top: 0;
    left: 0;

    &.circle {
        border-radius: 50%;
    }

    >[ref="effect"] {
        display: inline-block;

        position: absolute;
        border-radius: 100%;
        pointer-events: none;
        transform: scale(0);
        opacity: 0;
    }
    
    &.active {
        >[ref="effect"] {
            animation: w-ripple-animation 0.5s ease-out;
        }
    }
}

@keyframes w-ripple-animation {
    from {
        opacity: 0.2;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}