@import "../theme.scss";

w-text,
[data-is="w-text"] {
    display: inline-block;

    margin: 0; // ulの場合必要。
    padding: 0 $rem; // ulの場合必要。

    list-style-type: none;

    w-item,
    [data-is="w-item"] {
        w-button,
        [data-is="w-button"] {
        &:first-child {
            color: red;
        }
    }
    }

    :nth-child(1) {
        color: green;
    }
}