$phone: 479px;
$tablet: 839px;
$desktop: 1024px;

$rem: 16px;

$font-family: 'Roboto',sans-serif, "Helvetica Neue", Helvetica , Arial , Verdana , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic";

$color-50: #ECEFF1;
$color-100: #CFD8DC;
$color-200: #B0BEC5;
$color-300: #90A4AE;
$color-400: #78909C;
$color-500: #607D8B;
$color-600: #546E7A;
$color-700: #455A64;
$color-800: #37474F;
$color-900: #263238;

$color-text-main-black: rgba(0,0,0, 0.87);
$color-text-sub-black: rgba(0,0,0, 0.54);
$color-text-icon-black: rgba(0,0,0, 0.38);

$color-text-main-white: rgba(255,255,255, 1.0);
$color-text-sub-white: rgba(255,255,255, 0.7);
$color-text-icon-white: rgba(255,255,255, 0.3);

$box-shadow-bottom: 0 2px 2px 0 rgba(0,0,0, 0.2);
//$box-shadow-bottom: 0 0 4px 2px rgba(0,0,0, 0.2);

$height-toolbar: 3.5rem;