$phone: 479px;
$tablet: 839px;
$desktop: 1024px;

$rem: 16px;

$font-family: 'Roboto',sans-serif, "Helvetica Neue", Helvetica , Arial , Verdana , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic";

$color-50: #ECEFF1;
$color-100: #CFD8DC;
$color-200: #B0BEC5;
$color-300: #90A4AE;
$color-400: #78909C;
$color-500: #607D8B;
$color-600: #546E7A;
$color-700: #455A64;
$color-800: #37474F;
$color-900: #263238;

$color-primary-50: #FCE4EC;
$color-primary-100: #F8BBD0;
$color-primary-200: #F48FB1;
$color-primary-300: #F06292;
$color-primary-400: #EC407A;
$color-primary-500: #E91E63;
$color-primary-600: #D81B60;
$color-primary-700: #C2185B;
$color-primary-800: #AD1457;
$color-primary-900: #880E4F;
$color-primary-A100: #FF80AB;
$color-primary-A200: #FF4081;
$color-primary-A400: #F50057;
$color-primary-A700: #C51162;

$color-secondary-50: #E3F2FD;
$color-secondary-100: #BBDEFB;
$color-secondary-200: #90CAF9;
$color-secondary-300: #64B5F6;
$color-secondary-400: #42A5F5;
$color-secondary-500: #2196F3;
$color-secondary-600: #1E88E5;
$color-secondary-700: #1976D2;
$color-secondary-800: #1565C0;
$color-secondary-900: #0D47A1;
$color-secondary-A100: #82B1FF;
$color-secondary-A200: #448AFF;
$color-secondary-A400: #2979FF;
$color-secondary-A700: #2962FF;

$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$color-text-main-black: rgba(0,0,0, 0.87);
$color-text-sub-black: rgba(0,0,0, 0.54);
$color-text-icon-black: rgba(0,0,0, 0.38);

$color-text-main-white: rgba(255,255,255, 1.0);
$color-text-sub-white: rgba(255,255,255, 0.7);
$color-text-icon-white: rgba(255,255,255, 0.3);

$box-shadow-bottom: 0 2px 2px 0 rgba(0,0,0, 0.2);
$box-shadow: 0 0 2px 2px rgba(0,0,0, 0.2);
//$box-shadow-bottom: 0 0 4px 2px rgba(0,0,0, 0.2);

$height-toolbar: 3.5rem;

