@import "theme.scss";

* {
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
}

html,
body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    font-size: $rem;
    font-family: $font-family;

    color: $color-text-main-black;
    background-color: $color-50;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.left { order: -1; }
.right { order: 1; }
.fill { flex-grow: 1; }
