@import "../theme.scss";

w-pane,
[data-is="w-pane"] {
    display: flex;
    flex-direction: row;

    position: relative;

    width: 100%; // for ie11.

    overflow-x: hidden;

    .left {
        order: -1;
    }
    .right {
        order: 1;
    }
    .fill {
        flex-grow: 1;
    }
    .vertical {
        flex-direction: column;
    }
}