w-panel,
[data-is="w-panel"] {
    display: block;
    position: relative;

    margin: 0;
    padding: 0;

    overflow: hidden;

    >[ref="holder"] {
        transform: translateY(0);
        transform: translateX(0);

        &.animation {
            transition-property: transform;
            transition-duration: 0.5s;
        }
    }

    &.anchor-left {
        &.close {
            >[ref="holder"] {
                transform: translateX(-100%);
            }
        }
    }
    &.anchor-right {
        &.close {
            >[ref="holder"] {
                transform: translateX(100%);
            }
        }
    }
    &.anchor-top {
        &.close {
            >[ref="holder"] {
                transform: translateY(-100%);
            }
        }

    }
    &.anchor-bottom {
        &.close {
            >[ref="holder"] {
                transform: translateY(100%);
            }
        }
    }
}