@import "../theme.scss";

w-drawer,
[data-is="w-drawer"] {
    display: block;
    position: relative;

    height: 100%;

    width: 300px;
    min-width: 300px;
    max-width: 400px;

    background-color: $color-100;
    
    transition-property: all;
    transition-duration: 0.5s;

    order: -1;
    left: 0; // for ie11.

    >w-panel {
        height: 100%;
    }
    
    &.right {
        order: 1;
        right: 0;
    }

    &.temporary {
        position: fixed;
        z-index: 160;
        
        &:not(.close) {
            box-shadow: $box-shadow;
        }
        &.right {
            &:not(.close) {
                right: 0;
                left: auto;
            }
            &.close {
                left: 100%;
            }
        }
    }

    &.persistent {
        >w-panel {
            position: fixed;
        }
    }

    &.close {
        width: 0;
        min-width: 0;
        max-width: 0;
    }

    w-pane,
    [data-is="w-pane"] {
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
