@import "../theme.scss";

w-drawer,
[data-is="w-drawer"] {
    display: block;
    position: relative;

    height: 100%;
    width: 320px;
    max-width: 400px;
    min-width: 300px;

    order: -1;
    left: 0; // for ie11.

    &.right {
        order: 1;
        right: 0;
    }
    
    &.animation {
        transition-property: width, min-width;
        transition-duration: 0.5s;
    }

    &.temporary,
    &.close {
        width: 0;
    }
}

w-drawer-holder {
    display: block;
    position: fixed;

    height: 100%;
    width: 300px;

    top: 0;

    z-index: 145;

    background-color: $color-100;

    >w-pane,
    >[data-is="w-pane"] {
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.temporary>w-drawer-holder { z-index: 160; }

.animation>w-drawer-holder {
    transition-property: all;
    transition-duration: 0.5s;
}

.temporary:not(.close)>w-drawer-holder { box-shadow: $box-shadow; }

:not(.right):not(.close)>w-drawer-holder { left: 0; }

:not(.right).close>w-drawer-holder { right: 100%; }

.right:not(.close)>w-drawer-holder { right: 0; }
