@import "../theme.scss";

w-drawer,
[data-is="w-drawer"] {
    background-color: $color-100;
    display: block;
    position: relative;

    height: 100%;

    width: 320px;
    min-width: 300px;
    max-width: 400px;

    &.left {
        order: -1;
        left: 0; // for ie11.
    }
    &.right {
        order: 1;
        right: 0;
    }

    &.temporary {
        position: fixed;
        z-index: 160;
        
        &.open {
            box-shadow: $box-shadow;
        }
    }

    &.persistent {
        [ref="panel"] {
            position: fixed;
        }
    }

    &.close {
        width: 0;
        min-width: 0;
        max-width: 0;
    }

    w-pane,
    [data-is="w-pane"] {
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
