@import "../theme.scss";

w-item,
[data-is="w-item"] {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    margin: 0;
    padding: 0;

    >:not(.icon) {
        padding: 0 $rem;
    }

    &.vertical {
        flex-direction: column;
    }
}