@import "../theme.scss";

w-item,
[data-is="w-item"] {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    margin: 0;
    padding: 0;

    &.vertical {
        flex-direction: column;
    }
    .left {
        order: -1;
    }
    .right {
        order: 1;
    }
    .fill {
        flex-grow: 1;
    }
}